@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-align: center;
    color: #fdfdfc;
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    background-color: rgba(249, 112, 104, 0.84);
    color: #fdfdfc;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px; 
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px; 
}

#hero-msg h1 {
    text-align: center;
    color: white;
}

#hero-msg h4 {
    text-align: center;
    color: white;
}

#hero-img {
    width: 100%;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

#background {
    height: 725px;
    background-color: #fdfdfc;
    grid-column: 1/11;
    grid-row: 4/9;
    width: 100%;
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

body {
    background-color: #fdfdfc;
    font-size: 24px;
    font-family: Oswald, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
}

header {
    background-color: rgba(26, 110, 136, 0.51);
    display: grid;
    grid-template-columns: 150px auto;
}

.book, .join {
    background-color:#1a6e88;
    color: #fdfdfc;
    text-decoration: none;
    font-family: "Arima", serif, sans-serif;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color: #F97068;
    color: #fdfdfc;
    padding: 15px 30px;
}

.msg {
    background-color: #1a6e88;
    font-size: .8em;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}

footer a:hover {
    color: #F97068;
}

.home-title {
    color: #000000;
    font-family: "Arima", serif, sans-serif;
    font-size: 2.5em;
    margin-top: 10px;
}

h4 {
    color: #000000;
}
.msg h2{
    color: #fdfdfc;
}

.msg p {
    color: #fdfdfc;
    font-family: "Arima", serif, sans-serif;
    padding-bottom: 15px;
}

footer {
    background-color: #1a6e88;
    color: #fdfdfc;
    padding: 25px 50px;
    margin-top: 200px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

footer a {
    color: #fdfdfc;
    text-decoration: none;
    margin-top: 200px;
}

footer p {
    font-size: 1.2em;
}    
 
footer p a:hover {
    text-decoration: underline;
} 

footer .social img {
    padding-top: 15px;
}

#logo_link {
    padding-top: 5px;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.card-img {
    border: 10px solid #d9c2a3;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}

.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}

.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}

.mountains {
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}

.card-img, .mountains {
    width: 100%;
}

main section img {
    box-sizing: border-box;
}

.logo {
    width: 80px;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.page2-body {
    background-image: url(../images/hero.png);
    background-color: #fdfdfc;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.faq-grid {
    display: grid;
    grid-template-columns: repeat(10, 100px);
    grid-template-rows: repeat(10, 100px);
}

#faq-box {
    display: grid;
    grid-template-columns: repeat(30, 20px);
    grid-template-rows: repeat(30, 20px);
    background-color: rgb(246, 251, 255);
    grid-column: 2 / 11;
    grid-row: 2 / 10;
    z-index: 0;
    height: 1500px;
}

.faq-1, .faq-2, .faq-3 .faq-4 {
    display: inline-block;
    color: #ffffff;
    font-family: "Arima", serif, sans-serif;
    position:relative;
    min-height: 150px;
    width: 500px;
    background-color: #e46d66;
    overflow-wrap: normal;
    font-size: 24px;
    padding: 25px;
    z-index: 1;
    border-radius: 3%;
    box-shadow: 5px 5px 10px #6f7364;

}

.faq1-answer, .faq2-answer, .faq3-answer, .faq4-answer, .faq5-answer, .faq6-answer {
    min-height: 150px;
    width: 700px;
    overflow: scroll;
    background-color: #3598b7;
    transition: height 0.3s ease, display 0.3s ease; 
    font-size: 15px;
    padding: 20px;
    padding-top: 45px;
    z-index: 0;
}


.faq-1 {
    grid-row: 3 / 6;
    grid-column: 3 / 6;
}

.faq1-answer {
    grid-row: 10/15;
   
}


.faq-2 {
    grid-row: 6 / 7;
    grid-column: 2 / 6;
}

.faq2-answer {
    margin-top: 35%;
    grid-row: 7 / 11;
    grid-column: 3 / 6;
}


.faq-3 {
    grid-row: 30 / 40;
    grid-column: 3 / 6;
}

.faq3-answer {
    grid-row: 7 / 13;
    grid-column: 4 / 10;
   
}


.faq-4 {
    grid-row: 2 / 6;
    grid-column: 3 / 6;
}

.faq4-answer {
    grid-row: 7 / 13;
    grid-column: 4 / 10;
   
}

.faq-5 {
    grid-row: 2 / 6;
    grid-column: 3 / 6;
}

.faq5-answer {
    grid-row: 7 / 13;
    grid-column: 4 / 10;
   
}


.faq-6 {
    grid-row: 2 / 6;
    grid-column: 3 / 6;
}

.faq6-answer {
    grid-row: 7 / 13;
    grid-column: 4 / 10;
   
}




/* Read more button */

/*.read-more-state {
    display: none;
  }
  
.read-more-target {
    opacity: 0;
    max-height: 0;
    font-size: 0;
    transition: .25s ease;
  }
  
  .read-more-state:checked ~ .read-more-wrap .read-more-target {
    opacity: 1;
    font-size: inherit;
    max-height: 999em;
  }
  
  .read-more-state ~ .read-more-trigger:before {
    content: 'Read more';
  }
  
  .read-more-state:checked ~ .read-more-trigger:before {
    content: 'Show less';
  }
  
  .read-more-trigger {
    cursor: pointer;
    display: inline-block;
    padding: 0 .5em;
    font-size: .9em;
    max-height: 30px;
    width: 80px;
    line-height: 2;
    border: 1px solid #ddd;
    border-radius: .25em;
  }

  #read-more-state:checked ~ .faq1-answer {
    max-height: 600px;
} 
    
I tried but it ended up being more tedious and not worth the work. Just stuck to an overflow: scroll;*/



/* Contactus */


form {
    padding: 1em;
    border: 1px solid #ccc;
    width: 500px;
    border-radius: 1em;
    margin: 80px auto;
    text-align: center;
}
#feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;      
}
.moveDown {
    margin-top: 3em;
}

p + p {
    margin-top: len;
}

.button {
    padding-left: 90px;
}

label {
    display: inline-block;
    min-width: 90px;
    text-align: right;
}

input {
    height: 5px;
    padding: 10px;
}



/* Media Query */

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #hero-msg h1 {
        color: #6f7364;
    }
    .home-title {
        font-size: 25px;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}
           