body {
    background-color:lightgoldenrodyellow;
}

header {
    padding: 3em;
    text-align: center;
    background-color: #ffa7c7;
}
a {
    color:darkmagenta
    font-size: 20px;
    padding: 25px;
    font-family: 'Trebuchet MS', Times, 'Trebuchet MS', serif;
}

.active {
    background-color: beige;
    color: #ffa7c7;
}

h1 {
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img {
    width: 25%;
    display: block;
    margin: 50 auto;
}

p {
    width: 800;
    margin: 3em auto;
    line-height: 1.5em;
    background-color: #ffa7c7;
    padding: 30px;
    border: 5px solid black;
    font-size:20px;
    border-radius: 10px;
}

footer p {
    padding: 3em;
    color: beige;
    text-align: center;
    background-color: #ffa7c7;
}