body {
    background-color:lightgoldenrodyellow;
}

a {
    color:darkmagenta
    font-size: 20px;
    padding: 25px;
    font-family: 'Trebuchet MS', Times, 'Trebuchet MS', serif;
}

img {
    width: 300px;
}

