@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Manrope:wght@200..800&family=Parkinsans:wght@300..800&display=swap'); /* Parkisans */
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Manrope:wght@200..800&family=Parkinsans:wght@300..800&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap'); /* Sour Gummy */

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=DynaPuff:wght@400..700&family=Manrope:wght@200..800&family=Parkinsans:wght@300..800&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap'); /* Barlow */


@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=DynaPuff:wght@400..700&family=Lilita+One&family=Manrope:wght@200..800&family=Parkinsans:wght@300..800&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap'); /* Lilita One */

@font-face {
    font-family: "Parkisans";
    src: url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Manrope:wght@200..800&family=Parkinsans:wght@300..800&display=swap') format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Sour Gummy";
    src: url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Manrope:wght@200..800&family=Parkinsans:wght@300..800&display=swap') format("truetype");
    font-weight: 300;
    font-style: normal;
}

#content {
    max-width: 80%;
    margin: 0 auto;
}

img.userProfile {
    width: 50px;
}

header {
    display:flex;
    background-color: #fae4f1;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
}

nav {
    display: flex;
    align-items: center;
    line-height: 1em;
    font-size: 1.8em;
    font-family: Barlow, Manrope;
}

nav a {
    color: #715252;
    text-decoration: none;
}

#header {
    background-color: #fae4f1;
}

#header-box {
    display:grid;
    justify-content: center;
    padding-top:10px;
    padding-bottom: 30px;
}

.navv {
    float: left;
    margin-right: 100px;
    padding: 10px;

}

.login {
    text-align: right;
    justify-content: right;
}

.logpfp {
    width: 40px;
    flex-wrap: wrap;
    margin-right: 10px;
}

.logo {
    width: 120px;
    height: 75px;
    margin-top: -10px;
    float: left;
    margin-right: -80px;
}

.header-img {
    position: relative;
    text-align: center;
    width: 550px;
    border: solid #000;
    border-width: 1px;
}

.header-msg {
    position: absolute;
    padding: 20px;
    top: 43%;
    left: 50%;
    right: 20%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: 100px;
    -webkit-text-stroke: 0.1px;
    -webkit-text-stroke-color: aliceblue;
}

.header-img:hover {
    background-color: #ffffff;
    opacity: 0.45;
    -webkit-backface-visibility: hidden;
    transition: 0.3s;
}

#header-box:hover {
    text-shadow:
    -0.2px -0.2px 0 #000000,
    0.2px 0.2px 0 #000000,
    -0.2px -0.2px 0 #000000,
    0.2px 0.2px 0 #000000;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

p {
    font-family: "Parkisans", Manrope;
}

.navv:hover {
    background-color: #ffffff;
    opacity: 0.45;
    -webkit-backface-visibility: hidden;
    transition: 0.3s;
    color: #884567;
}

.login:hover {
    background-color: #ffffff;
    opacity: 0.45;
    -webkit-backface-visibility: hidden;
    transition: 0.3s;
    color: #e080b0;
}








#tags {
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #dfb0cc;
    height: 40px;
    white-space: normal;
    overflow: hidden;
    border: solid #000;
    border-width: 1px;
}

#tags a {
    text-decoration: none;
    color: #7f4876;
    font-size: 15px;
    text-align: justify;
    font-family: "Parkisans", Manrope;
}

#tags-2 {
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #dfb0cc;
    color: #fff9fd;
    -webkit-text-stroke: 0.3px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    padding: 10px;
    width: 220px;
    height: 30px;
    border-left: solid #000;
    border-right: solid #000;
    border-bottom: solid #000;
    border-width: 1px;
    margin-left: 50px;
    font-family: "Parkisans", Manrope;
}






.home-grid {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(20, 100px);
    justify-content: center;
}

.home-grid2 {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(23, 100px);
    justify-content: center;
}

.community-card {
    background-color: #fae4f1;
    height: 580px;
    margin-top: 35px;
    margin-left: 30px;
    grid-column: 1/5;
    grid-row: 1/7;
    padding-bottom: 40px;
    padding-left: 15px;
    padding-right: 15px;
    border: solid #000;
    border-width: 1px;
}

.community-card p {
    font-family: "Parkisans", Manrope;
    font-size: 25px;
    color: #7f4859;
}

.community-card img {
    border: solid #000;
    border-width: 1px;
}

.image-container .credits {
    display: flex;
    position: absolute;
    top: 113%;
    left: 14%;
    right: 20%;
    color: #71525e;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.image-container:hover .credits {
    opacity: 1;
  }

.image-container img:hover {
    background-color: #ffffff;
    opacity: 0.45;
    -webkit-backface-visibility: hidden;
    transition: 0.3s;
}

.crd-2 {
    text-align: right;
}

mark {
    background-color: #fae4f1;
}
.credits {
    font-family: "Parkisans", Manrope;
    font-size: 45px;
    font-weight: 700;
    -webkit-text-stroke-color: #fae4f1;
}


.tags-bold {
    font-size: 40px;
    font-weight: 600;
    font-family: "Lilita One";
    color: #71525e;
}





.self-card {
    background-color: #dfcad6;
    height: 620px;
    margin-top: 35px;
    margin-right: 30px;
    padding-left: 15px;
    padding-right: 15px;
    grid-column: 6/10;
    grid-row: 1/7;
    justify-items: center;
    border: solid #000;
    border-width: 1px;
}

.self-card img {
    width: 450px;
    border: solid #000;
    border-width: 1px;
    justify-items: center;
}

.self-card img:hover {
    background-color: #ffffff;
    opacity: 0.45;
    -webkit-backface-visibility: hidden;
    transition: 0.3s;
}

.slf-txt {
    font-family: "Parkisans", Manrope;
    font-size: 25px;
    color: #7f4859;
    text-align: right;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.4s;
}


.slf-txt:after {
    content: '>';
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.slf-txt:hover span {
    content: '>';
    padding-right: 25px;
    color: #b45c88;
    text-shadow: 0px 0px 6px rgb(255, 205, 227);
  }
  .slf-txt:hover span:after {
    opacity: 1;
    right: 0;
  }






.learn-animate {
    grid-column: 1/8;
    grid-row: 8/9;
    margin-left: 50px;
}

.learn-animate h2 {
    font-size: 50px;
    font-weight: 600;
    font-family: "Lilita One";
    color: #71525e;
    margin: 0;
}

.learn-animate p {
    font-family: "Parkisans", Manrope;
    font-size: 20px;
    font-weight: 600;
    color: #7f4859;
    text-align: right;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.4s;
}

.learn-animate a {
    text-decoration: none;
    color: #7f4859;
}

.slf-txt2:after {
    content: '>';
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.slf-txt2:hover span {
    content: '>';
    padding-right: 25px;
    color: #b45c88;
    text-shadow: 0px 0px 6px rgb(255, 205, 227);
  }
  .slf-txt2:hover span:after {
    opacity: 1;
    right: 0;
  }

.home-courses {
    grid-column: 1/6;
    grid-row: 9/14;
    margin-top: 35px;
}

.home-courses img {
    width: 800px;
    border: solid #000;
    border-width: 1px;
}

.image-container2 .credits {
    display: flex;
    position: absolute;
    top: 209%;
    left: 14%;
    right: 20%;
    color: #71525e;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.image-container2:hover .credits {
    opacity: 1;
  }

.image-container2 img:hover {
    background-color: #ffffff;
    opacity: 0.45;
    -webkit-backface-visibility: hidden;
    transition: 0.3s;
}



.home-courses1 {
    grid-column: 7/10;
    grid-row: 10/15;
    margin-right: 50px;
    margin-top: 50px;
    width: 450px;
    height: 500px;
    background-color: #dfcad6;
    border: solid #000;
    border-width: 1px;
}

.home-courses1 p {
    padding: 20px;
    margin-top: 100px;
    text-align: center;
    font-family: "Parkisans", Manrope;
    font-size: 25px;
    color: #7f4859;
}



.join {
    grid-column: 3/8;
    grid-row: 16/20;
    border: solid #000;
    border-width: 1px;
}

.join p {
    display: flex;
    position: absolute;
    top: 247%;
    left: 35%;
    right: 35%;
    -webkit-text-stroke: #fae4f1;
    -webkit-text-stroke-width: 0.5px;
    font-weight: 700;
    font-family: "Parkisans", Manrope;
    font-size: 25px;
    color: #7f4859;
}

.join img {
    width: 100%;
    height: 400px;
}

.join img:hover {
    background-color: #ffffff;
    opacity: 0.45;
    -webkit-backface-visibility: hidden;
    transition: 0.3s;
}










/* Page 2 */

.userprofile img {
    display: flex;
    width: 50px;
}

.userprofile {
    display: flex;
    align-items: center;
    margin-top: 240px;
    font-size: 16px;
}

.userprofile a {
    font-size: 16px;
}

.time {
    color:#c5acb5;
    font-weight: 600;
}

.lat-img img {
    /*display: block;
    height: 650px;
    margin-left: 82px;
    margin-bottom: 30px;
    transform: translateX(-30%);*/
}

/*.latest-1 .lat-img img {
    height: 600px;
    margin-left: 82px;
    margin-bottom: 30px;
    transform: translateX(-45%);

}*/

.lat-img {
    display:flex;
    width: 540px;
/*    height: 450px;*/
    margin-left: 10px;
    /*overflow: hidden;
    align-items: left;
    margin-left: 40px;
    margin-bottom: 10px;*/
    border: solid #000;
    border-width: 1px;
}

.lat-txt {
    padding-top: 10px;
    width: 300px;
    text-decoration: none;
}

.lat-txt a {
    text-decoration: none;
    font-family: "Parkisans", Manrope;
    font-size: 17px;
    color: #000000;
}

.latest-1 {
    display:flex;
    gap: 10px;

    grid-column: 1/7;
    grid-row: 2/6;
    width: 840px;
    border: solid #000;
    border-width: 1px;
    margin-top: 20px;
    padding: 15px;
    overflow: hidden;
}

.latest-2 {
    display:flex;
    grid-column: 1/7;
    grid-row: 6/10;
    width: 840px;
    border: solid #000;
    border-width: 1px;
    margin-top: 20px;
    padding: 15px;
    overflow: hidden;
}

.latest-3 {
    display:flex;
    grid-column: 1/7;
    grid-row: 10/14;
    width: 840px;
    border: solid #000;
    border-width: 1px;
    padding: 15px;
    margin-top: 20px;
    overflow: hidden;
}

.lat-img img {
    width: 100%;
/*    margin-left: 82px;
    margin-top: 40px;*/
}

/*.latest-1 .lat-img {
    background-image: url("eternalimages/blog1.gif");
    background-size: cover;
}

.latest-2 .lat-img {
    background-image: url('/eternal/eternalimages/canime.jpg');
    background-size: cover;
}

.latest-3 .lat-img {
    background-image: url("eternalimages/blog3.gif");
    background-size: cover;
}*/



.slf-txt3 {
    font-family: "Lilita One", Manrope;
    font-size: 40px;
    color:#71525e;
    text-align: right;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.4s;
}

.slf-txt3:after {
    content: '>';
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.slf-txt3:hover span {
    content: '>';
    padding-right: 25px;
    color: #b45c88;
    text-shadow: 0px 0px 6px rgb(255, 205, 227);
}

 .slf-txt3:hover span:after {
    opacity: 1;
    right: 0;
 }



.latest-upload {
    grid-column: 7/10;
    grid-row: 2/7;
    border: solid #000;
    border-width: 1px;
    justify-content: center;
    margin-top: 20px;
    padding: 15px;
    overflow: hidden;
    background-color: #dfb0cc;
}

.latest-upload a {
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    font-family: "Lilita One";
    color: #71525e;
}

.hottext {
    grid-row: 14;
    grid-column: 7/9;
    text-align: right;
}

.lattext {
    grid-column: 1/4;
}

.latest-upload img {
    margin-top: 50px;
    width: 415px;
}


.latest-upload img:hover {
    background-color: #ffffff;
    opacity: 0.45;
    -webkit-backface-visibility: hidden;
    transition: 0.3s;
}

.popular-1 {
    display: flex;
    grid-column: 2/9;
    grid-row: 15/18;
    height: 350px;
    border: solid #000;
    border-width: 1px;
    margin-top: 20px;
    padding: 15px;
    overflow: hidden;
}

.popular-2 {
    display: flex;
    grid-column: 2/9;
    grid-row: 19/22;
    height: 350px;
    border: solid #000;
    border-width: 1px;
    margin-top: 20px;
    padding: 15px;
    overflow: hidden;
}

.pop-img img {
    width: 100%;
}

.pop-img img {
    width: 500px;
    height: 350px;
    border: solid #000;
    border-width: 1px;
}

.pop-txt {
    display:block;
    width: 400px;
    text-align: center;
    padding-left: 60px;
}

.user-text {
    margin-top: 120px;
    width: 430px;
}


.userprofile2 {
    display: flex;
    align-items: center;
    
    padding: 0%;
}


.userprofile2 img {
    display: flex;
    align-items: center;
    width: 30px;
    height: 30px;
}


/*.pop-text a {
    font-size: 200px;
}*/

.pop-txt {
    width: 500px;
    text-decoration: none;
}

.pop-txt a {
    text-decoration: none;
    font-family: "Parkisans", Manrope;
    font-size: 17px;
    color: #000000;
}


.titles {
    font-size: 40px;
    font-weight: 600;
    font-family: "Lilita One";
    color: #71525e;
}

.popular-1:hover {
    background-color: #ffffff;
    opacity: 0.75;
    -webkit-backface-visibility: hidden;
    transition: 0.3s;
}

.popular-2:hover {
    background-color: #ffffff;
    opacity: 0.75;
    -webkit-backface-visibility: hidden;
    transition: 0.3s;
}

.latest-1:hover {
    background-color: #ffffff;
    opacity: 0.75;
    -webkit-backface-visibility: hidden;
    transition: 0.3s;
}

.latest-2:hover {
    background-color: #ffffff;
    opacity: 0.75;
    -webkit-backface-visibility: hidden;
    transition: 0.3s;
}

.latest-3:hover {
    background-color: #ffffff;
    opacity: 0.75;
    -webkit-backface-visibility: hidden;
    transition: 0.3s;
}














.footer1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dfb0cc;
    height: 30px;
    padding: 5px;
    white-space: normal;
    overflow: hidden;
    border: solid #000;
    border-width: 1px;
}

.footer1 a {
    text-decoration: none;
    color: #7f4876;
    font-size: 15px;
    text-align: justify;
    font-family: "Parkisans", Manrope;
}

.footer1 img {
    width:15px;
    align-items: center;
    justify-content: center;
}

.footer2 {
    display: flex;
    grid-row: 24;
    grid-column: 1/10;
    align-items: center;
    justify-content: center;
    background-color: #dfb0cc;
    height: 30px;
    padding: 5px;
    white-space: normal;
    overflow: hidden;
    border: solid #000;
    border-width: 1px;
}

.footer2 a {
    text-decoration: none;
    color: #7f4876;
    font-size: 15px;
    text-align: center;
    font-family: "Parkisans", Manrope;
}

.footer2 img {
    width:15px;
    align-items: center;
    justify-content: center;
}
